.caroussel {
  &_img {
    margin-left: 50px;
    width: 93%;
    object-fit: cover;
    height: 413px;
  }

  &_title {
    color: $red;
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 500;
    margin-left: 50px;
  }

  &_description {
    margin-left: 50px;
    margin-bottom: 100px;
  }
  &_icon {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 60px;
    bottom: 250px;
    width: 90%;
    color: $white;
    cursor: pointer;
  }
  &_counter {
    position: relative;
    text-align: center;
    bottom: 50px;
    color: $white;
    font-size: 18px;
  }
  &_location {
    margin-left: 50px;
    font-family: "Montserrat";
    font-size: 18px;
  }
}
.caroussel_container {
  height: 413px;
}
