.collapse {
  &_container {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 270px;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      margin-top: 25px;
      width: 95%;
      margin-bottom: 0;
      margin-top: 50px;
      margin-left: 20px;
    }
    @media (min-width: 768px) and (max-width: 1025px) {
      margin-bottom: 240px;
      margin-top: 300px;
    }
  }

  &_individual {
    width: 90%;
    background-color: var(--red-color);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    height: 54px;

    @media (max-width: 768px) {
      height: 40px;
      width: 95%;
    }
  }

  &_title {
    color: var(--white-color);
    font-family: "Montserrat";
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &_txt_title {
    margin: 15px;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  &_icon {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 25px;
    margin-right: 20px;
    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  .rotate {
    transform: rotate(-180deg);
  }

  &_content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
    background-color: var(--white-color);
    width: 90%;

    @media (max-width: 768px) {
      width: 95%;
    }
  }

  &_content.open {
    max-height: 210px;
    background-color: var(--grey-color);
    margin-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
