.description_container {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  width: 97%;

  position: relative;
  bottom: 60px;

  .description_individual {
    width: 50%;
    overflow: hidden;
    border-radius: 5px;

    & .standard_title {
      background-color: #ff6060;
    }
  }
}

.rotate {
  transform: rotate(-180deg);
}
