.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  margin-top: 20px;
  @media (max-width: 768px) {
    margin-top: 0;
    flex-direction: column;
  }
  &_apartment {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    @media (max-width: 768px) {
      margin-left: 25px;
    }
  }
}
