.header {
  &_logo {
    margin: 30px 0px 30px 50px;
  }
  &_image {
    position: absolute;
    top: 150px;
    height: 220px;
    width: 93%;
    left: 50px;
  }

  &_menu {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 40px;
    right: 10px;
  }
  &_link {
    margin-right: 80px;
  }
  &_link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
