.header {
  &_logo {
    margin: 30px 0px 30px 50px;
  }

  &_menu {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 40px;
    right: 10px;
  }
  &_link {
    margin-right: 80px;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
    &.active .header_link_style {
      text-decoration: underline;
    }
  }

  &_link_style {
    text-decoration: none;
    color: black;
  }
}
