.home {
  &_container {
    @media (max-width: 768px) {
      height: 30px;
    }
  }
  &_image {
    position: absolute;
    top: 150px;
    height: 220px;
    width: 93%;
    left: 50px;
    border-radius: 25px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
    @media (max-width: 768px) {
      margin-top: 10px;
      display: flex;
      left: 22px;
      top: auto;
      position: relative;
      height: 111px;
      border-radius: 10px;
      width: 90%;
    }

    @media (min-width: 768px) and (max-width: 1025px) {
      left: 50px;
      width: 85%;
    }
  }
  &_filter {
    filter: brightness(0.4);
  }
  &_text {
    position: relative;
    top: 90px;
    left: 25%;
    color: var(--white-color);
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 700;
    @media (max-width: 768px) {
      left: 30px;
      font-size: 24px;
      display: flex;
      top: 13%;
      width: 55%;
      position: absolute;
    }
    @media (min-width: 768px) and (max-width: 1025px) {
      left: 10%;
    }
  }
}
