.host {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  right: 100px;
  bottom: 130px;
  @media (max-width: 768px) {
    right: 15px;
    bottom: 0;
    top: 10px;
  }
  &_img {
    border-radius: 50%;
    width: 64px;
    @media (max-width: 768px) {
      width: 40px;
    }
  }
  &_name {
    font-size: 18px;
    color: #ff6060;
    margin: 15px 15px 0 0;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
