.host {
  display: flex;
  flex-direction: row-reverse;
  //position: relative;
  //right: 100px;
  //bottom: 130px;

  @media (min-width: 768px) and (max-width: 1025px) {
    bottom: 100px;
  }
  &_img {
    border-radius: 50%;
    width: 64px;
    @media (max-width: 768px) {
      width: 50px;
    }
  }
  &_name {
    font-size: 18px;
    color: var(--red-color);
    margin: 15px 15px 0 0;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
.detailsHost {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    flex-direction: row-reverse;
    margin-top: 10px;
  }
}
