.tags {
  display: flex;
  margin-left: 50px;
  @media (max-width: 768px) {
    margin-left: 25px;
  }
  &_button {
    background-color: #ff6060;
    color: white;
    min-width: 115px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-right: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    padding: 5px;
    @media (max-width: 768px) {
      width: 83px;
      font-size: 10px;
      min-width: 0;
    }
  }
}
