.tags {
  display: flex;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &_button {
    background-color: var(--red-color);
    color: var(--white-color);
    min-width: 115px;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-right: 20px;
    font-size: 14px;
    font-family: "Montserrat";
    padding: 5px;
    max-height: 20px;
    font-weight: 700;
    @media (max-width: 768px) {
      min-width: 83px;
      height: 18px;
      margin-bottom: 10px;
      font-size: 10px;
    }
  }
  &_txt {
    margin: 0;
    @media (max-width: 768px) {
      display: flex;
      margin: 0;
      justify-content: center;
    }
  }
}
